In [1]:
# Import Dependencies
import pandas as pd
import time
import datetime as dt
import numpy

In [2]:
#pip3 install latlong2
#pip install geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

In [3]:
fire_csv = "../Extract/firedata2.csv"
fire_df = pd.read_csv(fire_csv)
drought_csv = "drought_counties.csv"
drought_df = pd.read_csv(drought_csv)

/Users/beckybland/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Fire DF to only CA, and create Lat Lon column
fire_df = fire_df.loc[(fire_df["STATE"]) == 'CA']
fire_df['LAT_LONG'] = fire_df['LATITUDE'].astype(str) + ',' + fire_df['LONGITUDE'].astype(str)
fire_df = fire_df.loc[(fire_df["STATE"]) == 'CA']

In [33]:
twelve = fire_df.loc[(fire_df["FIRE_YEAR"]) >= 2012]
# 29790 rows = 14,734.134 s = 4.09 hrs
thirteen = fire_df.loc[(fire_df["FIRE_YEAR"]) >= 2013] 
# 22582 rows = 11,123.89 s = 3.08 hrs
fourteen = fire_df.loc[(fire_df["FIRE_YEAR"]) >= 2014] 
# 13859 rows = 6,926.94 s = 1.89 hrs
#fourteen

# 50 rows = 24.735365867614746 seconds 
# .4926 per row

In [9]:
#create new column
fire_df['DISCOVERY_DATE'] = 0

,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,LATITUDE,LONGITUDE,STATE,COUNTY,LAT_LONG
0,2005,0,33,1300.0,Miscellaneous,2453403.5,33.0,40.036944,-121.005833,CA,63.0,"40.03694444,-121.00583333"
1,2004,0,133,845.0,Lightning,2453137.5,133.0,38.933056,-120.404444,CA,61.0,"38.93305556,-120.40444444"
2,2004,0,152,1921.0,Debris Burning,2453156.5,152.0,38.984167,-120.735556,CA,17.0,"38.98416667,-120.73555556"
3,2004,0,180,1600.0,Lightning,2453189.5,185.0,38.559167,-119.913333,CA,3.0,"38.55916667,-119.91333333"
4,2004,0,180,1600.0,Lightning,2453189.5,185.0,38.559167,-119.933056,CA,3.0,"38.55916667,-119.93305556"
...,...,...,...,...,...,...,...,...,...,...,...,...
1880460,2015,0,269,1726.0,Missing/Undefined,2457291.5,269.0,40.481637,-122.389375,CA,NaN,"40.481637,-122.389375"
1880461,2015,0,278,126.0,Miscellaneous,NaN,NaN,37.617619,-120.938570,CA,NaN,"37.61761916,-120.9385702"
1880462,2015,0,122,2052.0,Missing/Undefined,NaN,NaN,37.617619,-120.938570,CA,NaN,"37.61761916,-120.9385702"
1880463,2015,0,287,2309.0,Missing/Undefined,NaN,NaN,37.672235,-120.898356,CA,NaN,"37.67223469,-120.89835605"
1880464,2015,0,73,2128.0,Miscellaneous,NaN,NaN,34.263217,-116.830950,CA,NaN,"34.263217,-116.83095"

In [10]:
#test on row 1
import datetime
YEAR = 2010
DAY_OF_YEAR = 139
d = datetime.date(YEAR, 1, 1) + datetime.timedelta(DAY_OF_YEAR - 1)
print(d)

2010-05-19

In [50]:
fourteen

,Unnamed: 0,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,LATITUDE,LONGITUDE,STATE,COUNTY,LAT_LONG,COUNTY_NAME
1722209,1722209,2014,2456817.5,160,1105.0,Campfire,2456817.5,160.0,41.879444,-123.433056,CA,Siskiyou,"41.87944444,-123.43305556",Siskiyou County
1722210,1722210,2014,2456860.5,203,1620.0,Lightning,2456860.5,203.0,41.863056,-123.278611,CA,Siskiyou,"41.86305556,-123.27861111",Siskiyou County
1722211,1722211,2014,2456849.5,192,1630.0,Lightning,2456849.5,192.0,41.751389,-123.113611,CA,Siskiyou,"41.75138889,-123.11361111",Siskiyou County
1722212,1722212,2014,2456849.5,192,1300.0,Lightning,2456849.5,192.0,41.925278,-123.129444,CA,Siskiyou,"41.92527778,-123.12944444",Siskiyou County
1722213,1722213,2014,2456851.5,194,1530.0,Lightning,2456852.5,195.0,41.561944,-123.321944,CA,Siskiyou,"41.56194444,-123.32194444",Siskiyou County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880460,1880460,2015,2457291.5,269,1726.0,Missing/Undefined,2457291.5,269.0,40.481637,-122.389375,CA,NaN,"40.481637,-122.389375",Shasta County
1880461,1880461,2015,2457300.5,278,126.0,Miscellaneous,NaN,NaN,37.617619,-120.938570,CA,NaN,"37.61761916,-120.9385702",Stanislaus County
1880462,1880462,2015,2457144.5,122,2052.0,Missing/Undefined,NaN,NaN,37.617619,-120.938570,CA,NaN,"37.61761916,-120.9385702",Stanislaus County
1880463,1880463,2015,2457309.5,287,2309.0,Missing/Undefined,NaN,NaN,37.672235,-120.898356,CA,NaN,"37.67223469,-120.89835605",Stanislaus County
1880464,1880464,2015,2457095.5,73,2128.0,Miscellaneous,NaN,NaN,34.263217,-116.830950,CA,NaN,"34.263217,-116.83095",San Bernardino County

In [30]:
# Converting DOY to date
discovery_date = []

for x in range(0, len(fourteen)):
    YEAR = fourteen['FIRE_YEAR'][x]
    DAY_OF_YEAR = fourteen['DISCOVERY_DOY'][x]
    d = datetime.date(YEAR, 1, 1) + datetime.timedelta(int(DAY_OF_YEAR - 1))
    fourteen['NEW_DISCOVERY_DATE'][x] = d

In [41]:
# converting Lat Lon to County
start_time = time.time()
county_name = []

for lat_lon in fourteen["LAT_LONG"]:
    try:
        location = geolocator.reverse(lat_lon) 
        county_name.append(location.raw['address']['county'])
    except:
        county_name.append('NaN')
        
duration = time.time() - start_time
duration

In [29]:
# fourteen['COUNTY_NAME'] = county_name
# fourteen

In [43]:
# Extract year from drought df
drought_df['Year'] = drought_df['ValidStart'].str[:4]
drought_df

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,Year
0,20151229,6001,Alameda County,CA,0.00,0.00,0.00,0.0,81.04,18.96,2015-12-29,2016-01-04,2,2015
1,20151222,6001,Alameda County,CA,0.00,0.00,0.00,0.0,81.04,18.96,2015-12-22,2015-12-28,2,2015
2,20151215,6001,Alameda County,CA,0.00,0.00,0.00,0.0,81.04,18.96,2015-12-15,2015-12-21,2,2015
3,20151208,6001,Alameda County,CA,0.00,0.00,0.00,0.0,81.04,18.96,2015-12-08,2015-12-14,2,2015
4,20151201,6001,Alameda County,CA,0.00,0.00,0.00,0.0,81.04,18.96,2015-12-01,2015-12-07,2,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18207,20100126,6115,Yuba County,CA,62.98,37.02,0.00,0.0,0.00,0.00,2010-01-26,2010-02-01,2,2010
18208,20100119,6115,Yuba County,CA,0.00,63.74,36.26,0.0,0.00,0.00,2010-01-19,2010-01-25,2,2010
18209,20100112,6115,Yuba County,CA,0.00,0.65,99.35,0.0,0.00,0.00,2010-01-12,2010-01-18,2,2010
18210,20100105,6115,Yuba County,CA,0.00,1.37,98.63,0.0,0.00,0.00,2010-01-05,2010-01-11,2,2010
18211,20091229,6115,Yuba County,CA,0.00,1.37,98.63,0.0,0.00,0.00,2009-12-29,2010-01-04,2,2009

In [45]:
fourteen_drought = drought_df.loc[(drought_df['Year'] == '2014') | (drought_df['Year'] == 2015)]
fourteen_drought

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,Year
52,20141230,6001,Alameda County,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-30,2015-01-05,2,2014
53,20141223,6001,Alameda County,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-23,2014-12-29,2,2014
54,20141216,6001,Alameda County,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-16,2014-12-22,2,2014
55,20141209,6001,Alameda County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2014-12-09,2014-12-15,2,2014
56,20141202,6001,Alameda County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2014-12-02,2014-12-08,2,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17997,20140204,6115,Yuba County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-02-04,2014-02-10,2,2014
17998,20140128,6115,Yuba County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-28,2014-02-03,2,2014
17999,20140121,6115,Yuba County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-21,2014-01-27,2,2014
18000,20140114,6115,Yuba County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-14,2014-01-20,2,2014
18001,20140107,6115,Yuba County,CA,0.0,0.0,0.0,100.0,0.00,0.00,2014-01-07,2014-01-13,2,2014

In [196]:
#fourteen_drought.to_csv('drought_2014-2015.csv')

In [27]:
#fourteen.to_csv('CA_Fires_2014-2015.csv')

In [14]:
#importing CA Fires 2014-2015
ca_fire_csv = "CA_Fires_2014-2015.csv"
ca_fire_df = pd.read_csv(ca_fire_csv)

In [19]:
ca_fire_df

,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,LATITUDE,LONGITUDE,STATE,COUNTY,LAT_LONG,COUNTY_NAME
0,2014,2456817.5,160,1105.0,Campfire,2456817.5,160.0,41.879444,-123.433056,CA,Siskiyou,"41.87944444,-123.43305556",Siskiyou County
1,2014,2456860.5,203,1620.0,Lightning,2456860.5,203.0,41.863056,-123.278611,CA,Siskiyou,"41.86305556,-123.27861111",Siskiyou County
2,2014,2456849.5,192,1630.0,Lightning,2456849.5,192.0,41.751389,-123.113611,CA,Siskiyou,"41.75138889,-123.11361111",Siskiyou County
3,2014,2456849.5,192,1300.0,Lightning,2456849.5,192.0,41.925278,-123.129444,CA,Siskiyou,"41.92527778,-123.12944444",Siskiyou County
4,2014,2456851.5,194,1530.0,Lightning,2456852.5,195.0,41.561944,-123.321944,CA,Siskiyou,"41.56194444,-123.32194444",Siskiyou County
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13854,2015,2457291.5,269,1726.0,Missing/Undefined,2457291.5,269.0,40.481637,-122.389375,CA,NaN,"40.481637,-122.389375",Shasta County
13855,2015,2457300.5,278,126.0,Miscellaneous,NaN,NaN,37.617619,-120.938570,CA,NaN,"37.61761916,-120.9385702",Stanislaus County
13856,2015,2457144.5,122,2052.0,Missing/Undefined,NaN,NaN,37.617619,-120.938570,CA,NaN,"37.61761916,-120.9385702",Stanislaus County
13857,2015,2457309.5,287,2309.0,Missing/Undefined,NaN,NaN,37.672235,-120.898356,CA,NaN,"37.67223469,-120.89835605",Stanislaus County
13858,2015,2457095.5,73,2128.0,Miscellaneous,NaN,NaN,34.263217,-116.830950,CA,NaN,"34.263217,-116.83095",San Bernardino County

In [21]:
ca_fire_df['NEW_DISCOVERY_DATE'] = 0

for x in range(0, len(ca_fire_df)):
    YEAR = ca_fire_df['FIRE_YEAR'][x]
    DAY_OF_YEAR = ca_fire_df['DISCOVERY_DOY'][x]
    d = datetime.date(YEAR, 1, 1) + datetime.timedelta(int(DAY_OF_YEAR - 1))
    ca_fire_df['NEW_DISCOVERY_DATE'][x] = d

<ipython-input-21-b991ace1c688>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ca_fire_df['NEW_DISCOVERY_DATE'][x] = d

In [49]:
fourteen_drought

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,Year
52,20141230,6001,Alameda County,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-30,2015-01-05,2,2014
53,20141223,6001,Alameda County,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-23,2014-12-29,2,2014
54,20141216,6001,Alameda County,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-16,2014-12-22,2,2014
55,20141209,6001,Alameda County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2014-12-09,2014-12-15,2,2014
56,20141202,6001,Alameda County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2014-12-02,2014-12-08,2,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17997,20140204,6115,Yuba County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-02-04,2014-02-10,2,2014
17998,20140128,6115,Yuba County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-28,2014-02-03,2,2014
17999,20140121,6115,Yuba County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-21,2014-01-27,2,2014
18000,20140114,6115,Yuba County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-14,2014-01-20,2,2014
18001,20140107,6115,Yuba County,CA,0.0,0.0,0.0,100.0,0.00,0.00,2014-01-07,2014-01-13,2,2014

In [67]:
#merging of the df performed in SQL.
#pd.merge(ca_fire_df,fourteen_drought, how='right', left_on=['NEW_DISCOVERY_DATE', 'COUNTY_NAME'], right_on=['ValidStart', 'County'])

,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,LATITUDE,LONGITUDE,STATE,...,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,Year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-30,2015-01-05,2014
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-23,2014-12-29,2014
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,81.04,18.96,2014-12-16,2014-12-22,2014
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,0.00,100.00,2014-12-09,2014-12-15,2014
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,0.00,100.00,2014-12-02,2014-12-08,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-02-04,2014-02-10,2014
3012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-28,2014-02-03,2014
3013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-21,2014-01-27,2014
3014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,0.0,100.00,0.00,2014-01-14,2014-01-20,2014
3015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CA,0.0,0.0,0.0,100.0,0.00,0.00,2014-01-07,2014-01-13,2014